.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }


.grid-container {
  display: grid;
  grid-template-areas:
    'item1 item7 item7 item7 item4'
    'item2 item7 item7 item7 item5'
    'item3 item7 item7 item7 item6';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}   

#item1,
#item2,
#item3,
#item4,
#item5,
#item6,
#item7 {
  width: 200px;
  height: 150px;
}

/* Main Navbar */
#mainnav {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 99;
  margin-bottom: 10px;
}
