main {
	height: 200vh;
}


.main-header {
  text-align: center;
  margin-bottom: 10px;
}



/* ------------ */
/*  navbar.php  */
/* ------------ */

/* Main Navbar */
#mainnav {
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	z-index: 99;
	margin-bottom: 10px;
}

#policy {
	text-align: center;
}

/* ------------ */
/* Validate.php */
/* ------------ */


#mail_avail,
#user_avail,
#pwlength,
#match {
	color: red;
}

/* ------------ */
/* products.php */
/* ------------ */

#wrapperCart {
	background-color: white;
	width: 90%;
	margin: 0 auto;
	min-height: 100vh;
	padding: 5px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 10px;
}



/* ------------------ */
/* admin_products.php */
/* ------------------ */

#prd_list {
	height: 50px;
	width: 50px;
}


#add_category {
	width: 100px;
}

/* Cart Products */
.upqty {
	width: 100%;
}


table, th, td {
	border: 1px solid black;
	margin: 10px;
}

table {
	width: 100%;
}

th {
	text-align: center;
	height: 50px;
}

td {
	height: 50px;
}

/* Checkout */

.form-group {
	margin: 10px;
}


main {
    height: 200vh;
}
body {
    z-index: 0;
    background-color: #FFF;
}
#mainnav {
    position: sticky;
    top: -1px;
    z-index: 99;
    background-color: #DCAE1D;
}
#policy {
    text-align: center;
}
#mail_avail, #user_avail {
    color: red;
}
#wrapperCart {
    background-color: #25274D;
    margin: 0 auto;
    min-height: 100vh;
    padding: 5px;
    width: 90%;
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.card {
    background-color: #F0F7F4;
}
.btn {

}
#prd_list {
    height: 50px;
    width: 50px;
}
#add_category {
    width: 100px;
}
.upqty {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    margin: 10px;
}
table {
    width: 100%;
}
th {
    height: 50px;
    text-align: center;
}
td {
    height: 50px;
}
.form-group {
    margin: 10px;
}


.buybtn {
    margin: 0;
    padding: 0;
    background: #2D2F33;
    font-family: 'Varela Round', 'Ionicons';
    display:inline-block;
    top: calc(210px);
    right: calc(50% - 115px);
    width: 180px;
    height: 30px;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.075), rgba(255,255,255,.045));
    background-image: linear-gradient(to top, rgba(0,0,0,.075), rgba(255,255,255,.045));
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.09),inset 0 3px 0 rgba(255,255,255,.04), 0 0 3px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.1);
    border-radius: 100px;
    color: rgba(255,255,255,.9);
    line-height: 30px;
    text-align: center;
    letter-spacing: 5px;
    overflow: hidden;
    transition: all .3s cubic-bezier(.67,.13,.1,.81), transform .15s cubic-bezier(.67,.13,.1,.81);
}
.buybtn:hover {
    right: calc(50% - 115px);
    width: 150px;
}
.buybtn:active {
    transform: translateY(3px);
}
.buybtn:before, .buybtn:after {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all .3s cubic-bezier(.67,.13,.1,.81);
}
.buybtn:before {
    content: 'Add to Cart';
}