main {
	height: 200vh;
}
 

/* ------------ */
/*  navbar.php  */
/* ------------ */

/* Main Navbar */
#mainnav {
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
}

#policy {
	text-align: center;
}

/* ------------ */
/* Validate.php */
/* ------------ */


#mail_avail,
#user_avail {
	color: red;
}