main {
	height: 200vh;
}


.main-header {
  text-align: center;
  margin-bottom: 10px;
}



/* ------------ */
/*  navbar.php  */
/* ------------ */

/* Main Navbar */
#mainnav {
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	z-index: 99;
	margin-bottom: 10px;
}

#policy {
	text-align: center;
}

/* ------------ */
/* Validate.php */
/* ------------ */


#mail_avail,
#user_avail,
#pwlength,
#match {
	color: red;
}

/* ------------ */
/* products.php */
/* ------------ */

#wrapperCart {
	background-color: white;
	width: 90%;
	margin: 0 auto;
	min-height: 100vh;
	padding: 5px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 10px;
}



/* ------------------ */
/* admin_products.php */
/* ------------------ */

#prd_list {
	height: 50px;
	width: 50px;
}


#add_category {
	width: 100px;
}

/* Cart Products */
.upqty {
	width: 100%;
}


table, th, td {
	border: 1px solid black;
	margin: 10px;
}

table {
	width: 100%;
}

th {
	text-align: center;
	height: 50px;
}

td {
	height: 50px;
}

/* Checkout */

.form-group {
	margin: 10px;
}